.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


}

div{

}

.p1{
  background: darkred;
  height: 100vh;
}.p2{
  background: darkred;
  height: 100vh;
}.p3{
  background: darkred;
  height: 100vh;
}
.p1{

  transition-duration: 3s;
  transform: translateY(-100%);
}.p2{
  transition-duration: 6s;
  transform: translateY(-100%);
}.p3{
    transition-duration: 9s;
    transform: translateY(-100%);
}
